@use "styles/fonts";
@use "styles/svg";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --light-transparent-color: #FFFFFF4C;
  --gray-color: #4E4E4E;
  --light-gray-color: #AAAAAA;
  --primary-color: #948D81;
  --dark-primary-color: #524E47;
  --dark-primary-color-rgb: 117, 113, 108;
  --dark-primary-transparent-color: #524E47B2;
  --light-primary-color: #E9E6E3;
  --blue-link-color: #0015FF;

  --semi-dark-font-color: #2D2924;
  --dark-gray-font-color: #414141;
  --light-gray-font-color: #747474;
  --light-transparent-font-color: #FFFFFFCC;

  --container-max-width-sm: 1080px;
  --container-max-width-md: 1150px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width-md);
}

.linked-block {
  font-size: 0;
}

.button {
  width: 100%;
  border-radius: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  background: var(--gray-color);
  color: var(--light-color);
  font-family: 'Platypi', sans-serif;
  font-size: 15px;
}

.no-select {
  user-select: none;
}

.owl-carousel .owl-item {
  display: grid;
  place-content: center;
}

.back-btn {
  width: 100px;
  height: 33px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 20px;
  font-family: 'Play', sans-serif;
  color: var(--light-color);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 22px;
}

.owl-carousel .owl-item img {
  width: 150px;
}

.small-slider .owl-carousel .owl-item img {
  width: 111px;
}
