NODE_ENV=development

MAIN_DATABASE_URL=postgresql://root_dev:root_dev@localhost:5433/main?schema=public

MAIN_DB_USER=root_dev
MAIN_DB_PASSWORD=root_dev
MAIN_DB_NAME=main
MAIN_DB_PORT=5433

PGADMIN_DEFAULT_EMAIL=test@mail.ru
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

MAIN_API_JWT_ACCESS_SECRET=DFSFSDFGHKJDSFDF
MAIN_API_JWT_REFRESH_SECRET=JLSDFYUIOESRNVDC
MAIN_API_JWT_ACCESS_EXPIRES=900s
MAIN_API_JWT_REFRESH_EXPIRES=30d
MAIN_API_PORT=3000
