.svg15 {
  width: 15px;
  height: 15px;
}

.svg16 {
  width: 16px;
  height: 16px;
}

.svg18 {
  width: 18px;
  height: 18px;
}

.svg20 {
  width: 20px;
  height: 20px;
}

.svg24 {
  width: 24px;
  height: 24px;
}

.svg28 {
  width: 28px;
  height: 28px;
}

.svg30 {
  width: 30px;
  height: 30px;
}

.svg35 {
  width: 35px;
  height: 35px;
}

.svg36 {
  width: 36px;
  height: 36px;
}

.svg40 {
  width: 40px;
  height: 40px;
}

.svg43 {
  width: 43px;
  height: 43px;
}

.svg120 {
  width: 120px;
  height: 120px;
}
