.svg15 {
  width: 15px;
  height: 15px;
}

.svg20 {
  width: 20px;
  height: 20px;
}

.svg30 {
  width: 30px;
  height: 30px;
}

.svg35 {
  width: 35px;
  height: 35px;
}

.svg40 {
  width: 40px;
  height: 40px;
}

.svg43 {
  width: 43px;
  height: 43px;
}

.svg120 {
  width: 120px;
  height: 120px;
}
